PORT = 3000
NODE_ENV = development

# DB
DB_PORT = 5440
DB_USER = div
DB_PASSWORD = divpassword
DB_NAME = divdata
DB_HOST = localhost

# Session-Secret-Key
SESSION_SECRET = 164a6035fd33690544cb81d9c2150987

# Auto seed
AUTO_SEED = true

# hCaptcha
HCAPTCHA_SITE_KEY = 10000000-ffff-ffff-ffff-000000000001
HCAPTCHA_SECRET_KEY = 0x0000000000000000000000000000000000000000
HCAPTCHA_RESPONSE_TOKEN = 10000000-aaaa-bbbb-cccc-000000000001
HCAPTCHA_VERIFY_URL = https://api.hcaptcha.com/siteverify

# Jwt
JWT_SECRET = 35b1585bc4cbd4eadafc2ad94d014587